.new_login
  %h1.logo
    = image_tag 'Ehxe_logo.png', id: 'ehxe_logo'
  = form_for sessions_path do |f|
    .field#email_field
      = f.text_field :email, placeholder: "EMAIL"
    .field#password_field
      .password_field_tag
        = f.password_field :password, placeholder: "PASSWORD"
    .actions.login
      = f.submit 'LOGIN', id: 'login_submit'