= devise_error_messages!

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = render 'partials/errors', resource: @user

  .edit_user
    - if params[:action] != 'edit'
      %h1.logo
        = image_tag 'Ehxe_logo.png', id: 'ehxe_logo'

    .field#email_field
      = f.email_field :email, placeholder: ' EMAIL', required: true, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: <%= resource.unconfirmed_email
    .field#name_field
      = f.text_field :name, placeholder: ' NAME', required: true
    .field#password_field
      .password_field_tag
        = f.password_field :password, placeholder: ' PASSWORD', required: true, autocomplete: 'off'
    .field#password_conf_field
      .password_field_tag
        = f.password_field :password_confirmation, placeholder: ' PASSWORD CONFIRMATION', required: true
    .field#password_conf_field
      .password_field_tag
        = f.password_field :current_password, placeholder: 'CURRENT PASSWORD'

    .field.actions.login
      = f.submit 'UPDATE', class: 'submit_button'

    .options
      .button#account_cancel
        = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, id: "account_cancel_button"

      .button#back_account
        = link_to "Back", :back
