= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  .new_session
    - if params[:action] != 'edit'
      %h1.logo
        = link_to image_tag('Ehxe_logo.png', id: 'ehxe_logo'), root_path

    .field#email_field
      = f.email_field :email, placeholder: ' EMAIL', required: true, autofocus: true
    .field#name_field
      = f.text_field :name, placeholder: ' NAME', required: true
    .field#password_field
      .password_field_tag
        = f.password_field :password, placeholder: ' PASSWORD', required: true
    .field#password_conf_field
      .password_field_tag
        = f.password_field :password_confirmation, placeholder: ' PASSWORD CONFIRMATION', required: true
    .field.actions.login
      = f.submit 'SIGN UP', class: 'submit_button'

    = render "devise/shared/links"
