= form_for @person do |f|
  = render 'partials/errors', resource: @person

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :picture
    = f.file_field :picture

  .actions
    = f.submit 'Save'
