%p#notice= notice
.person

  .name
    = @person.name

  .picture_show
    = render 'people/picture', person: @person

  .person_checkins
    - if @person.checkins
      - @person.checkins.each do |checkin|
        = checkin.title
.options
  .button#person_icons
    = link_to image_tag('edit_icon.png', id: 'edit_icon_people_show'), edit_person_path(@person)


.options
  .button#people_back
    = link_to 'Back', people_path
