%p#notice= notice
.person

  .name
    = @person.name

  .picture
    = @person.picture

  .person_checkins
    - if @checkins
      - @checkins.each do |checkin|
        - checkin.assets.each do |asset|
          - if asset.type === 'Image'
            = image_tag(asset.media.thumb.url)
          - elsif asset.type === 'Audio'
            = audio_tag(asset.media.url, controls: true)

.actions
  .button
    = link_to 'Edit', edit_person_path(@person)
  .button
    = link_to 'Back', people_path
