= form_for(@user) do |f|
  = render 'partials/errors', resource: @user

  .field
    = f.email_field :email, placeholder: ' Email', required: true
  .field
    = f.text_field :name, placeholder: ' Name', required: true
  .field
    = f.password_field :password, placeholder: ' Password', required: true
  .field
    = f.password_field :password_confirmation, placeholder: ' Password Confirmation', required: true
  .field
    = f.submit 'Sign Up', class: 'submit_button'
