= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
        - @user.errors.full_messages.each do |msg|
          %p= msg
  .field
    = f.text_field :email, placeholder: ' Email', required: true
  .field
    = f.text_field :name, placeholder: ' Name', required: true
  .field
    = f.password_field :password, placeholder: ' Password', required: true
  .field
    = f.password_field :password_confirmation, placeholder: ' Password Confirmation', required: true
  .field
    = f.submit 'Sign Up', class: 'submit_button'
