= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = render 'partials/errors'

  .title#reset_password
    Forgot Password?

  #user_email_field
    = f.email_field :email, :autofocus => true, placeholder: "EMAIL"
  .field.actions.login
    = f.submit "RESET PASSWORD", id: "forgot_password"

  .options
    .button#people_back
      = link_to "BACK", new_user_session_path
