= form_for @category do |f|
  = render 'partials/errors', resource: @category

  .field#new_category_title
    = f.text_field :name, placeholder: 'NEW CATEGORY NAME'
  .field#marker_color_select
    .styled-select
      = f.select :color, Category.colors
    .marker
      %img#marker

  .actions.category
    = f.submit 'Save', id: "category_submit"
