= form_for @category do |f|
  = render 'partials/errors', resource: @category

  .field
    = f.text_field :name, placeholder: 'Name'
  .field
    .styled-select
      = f.select :color, Category.colors
    .marker
      %img#marker

  .actions
    = f.submit 'Save'
