= form_for @category do |f|
  = render 'partials/errors', resource: @category

  .field
    = f.text_field :name, placeholder: ' Name'
  .field
    = f.select :color, [['Coral','coral'],['Crimson','crimson'],['Green','green'],['Mustard','mustard'],['Pink','pink'],['Purple','purple'],['Red','red']]

  .actions
    = f.submit 'Save'
