= form_for @category do |f|
  = render 'partials/errors', resource: @category

  .field
    = f.text_field :name, placeholder: ' Name'
  .field
    = f.select :color, Category.colors

  .actions
    = f.submit 'Save'
