- @categories.each do |category|
  .category
    .head
      .title
        = link_to category.name, category
      .marker
        = image_tag "https://s3-eu-west-1.amazonaws.com/ehxe/markers/#{category.color}_marker.png"
      .options
        .button
          = link_to 'Edit', edit_category_path(category)
        .button
          = button_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }
    .checkins

.new_category
  .button
    = link_to 'New Category', new_category_path
