%p#notice= notice
.category
  #category_show_name
    = @category.name

  .checkin_show_for_person
    - @checkins.each do |checkin|
      - checkin.assets.each do |asset|
        - if asset.type === 'Image'
          = image_tag(asset.media.thumb.url)
        - elsif asset.type === 'Audio'
          = audio_tag(asset.media.url, controls: true)

.options
  .button#category_icons
    = link_to 'Edit', edit_category_path(@category)
    = link_to 'Back', categories_path
