.category_show
  .title
    = image_tag("https://s3-eu-west-1.amazonaws.com/ehxe/markers/#{@category.color}_marker.png")
    = @category.name
  %p
    %b Checkins
    - @checkins.each do |checkin|
      - checkin.assets.each do |asset|
        - if asset.type === 'Image'
          = image_tag(asset.media.thumb.url)
        - elsif asset.type === 'Audio'
          = audio_tag(asset.media.url, controls: true)

  = link_to 'Edit', edit_category_path(@category)

  = link_to 'Back', categories_path
