= nested_form_for @checkin do |f|
  = render 'partials/errors', resource: @checkin

  .title_field
    = f.text_field :title, placeholder: ' Title', required: true

  - if params[:action] === 'edit'
    #map{data: { id: @checkin.id } }
  - else
    #map

  = f.hidden_field :latitude
  = f.hidden_field :longitude
  - default_x = "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/x_icon.png"

  #checkin_inventory
    .checkin_form_box.words
      -if params[:action] == 'new' || params[:action] == 'past'
        .words_overlay
          = image_tag "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/words.png",  id: 'words_image'
          %p.instructions Words
      .words_content
        .field
          = f.text_area :description

    .checkin_form_box.categories
      -if params[:action] == 'new' || params[:action] == 'past'
        .category_overlay
          = image_tag "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/Categories.png", id: 'category_image'
          %p.instructions Categories
      .category_content
        - if !current_user.categories.empty?
          .field
            = f.select :category_ids, current_user.categories.collect { |x| [x.name,x.id] }, {prompt: false}, multiple: true

    .checkin_form_box.assets
      .add_media_overlay
        = image_tag "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/assets_image_small2.png", id: "assets_image"
        = f.fields_for :assets do |asset|
          = asset.file_field :media, style:'display:none' #DO NOT DELETE OR FILE UPLOAD WILL NOT WORK
          = asset.link_to_remove "Remove Words"
        -if params[:action] == 'new' || params[:action] == 'past'
          = f.link_to_add "Add Words", :assets, id: "add_words_link"
        %p.instructions Media
      .add_media
        .div_for_asset__upload_appends
        .plus_button
          %img#add_media{src:'http://iconizer.net/files/Wireframe_mono_icons/orig/sq_plus.png'}


    .checkin_form_box.people
      .people_overlay
        = image_tag "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/People.png",  id: 'people_image'
        %p.instructions People
      .people_content
        - if !current_user.people.empty?
          .field
            = f.select :person_ids, current_user.people.collect { |x| [x.name,x.id] }, {prompt: false}, multiple: true

  .actions
    = f.submit 'CHECKIN', class: 'submit_button'
