%script{src:'checkins/new.coffee'}

= nested_form_for @checkin do |f|
  = render 'partials/errors', resource: @checkin

  #map{data: { id: @id } }

  = f.hidden_field :latitude
  = f.hidden_field :longitude
  - default_x = "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/x_icon.png"

  .title_field
    = f.text_field :title, placeholder: ' TITLE', required: true

  .date_field
    - if params[:action] === 'past' || params[:action] === 'edit'
      = f.date_select(:date, start_year: Time.now.year, end_year: (Time.now.year-1000))

  #checkin_inventory
    .words_form
      = f.text_area :description, placeholder: 'DESCRIPTION'

    .assets_form
      = render 'checkins/form_fields/assets', f: f

    .categories_form
      = render 'checkins/form_fields/categories', f: f

    .people_form
      = render 'checkins/form_fields/people', f: f

    .submit_checkin
      - if params[:action] === 'new' || params[:action] === 'past'
        = f.submit 'CHECKIN', class: 'submit_button'
      - if params[:action] === 'edit'
        = f.submit 'SAVE CHANGES', class: 'submit_button'
