.new_checkin_form
  #map

  = nested_form_for @checkin do |f|
    - if @checkin.errors.any?
      #error_explanation
        %h2= "#{pluralize(@checkin.errors.count, "error")} prohibited this checkin from being saved:"
        %ul
          - @checkin.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.hidden_field :latitude
    .field
      = f.hidden_field :longitude
    .field
      %b Text:
      = f.text_field :title
    .field
      = f.fields_for :assets do |asset|
        .words_or_media
          .words_button Words
          .media_button Media
          .words_form
            = asset.text_field :words
          .media_form
            = asset.file_field :media
        = asset.link_to_remove "Remove Asset"
      = f.link_to_add "Add an Asset", :assets
    .field
      %b New Category
      %br
      = f.fields_for :category do |category_fields|
        = category_fields.text_field :name
    .field
      %b Category
      = select "checkin", "category_id", Category.all.collect { |x| [x.name, x.id] }, include_blank: true
    .actions
      = f.submit 'Save'