%h1 Listing checkins

%table
  %tr
    %th Latitude
    %th Longitude
    %th Text
    %th Image
    %th Audio
    %th Video
    %th User
    %th Category
    %th Address
    %th
    %th
    %th

  - @checkins.each do |checkin|
    %tr
      %td= checkin.latitude
      %td= checkin.longitude
      %td= checkin.text
      %td= checkin.image
      %td= checkin.audio
      %td= checkin.video
      %td= checkin.user_id
      %td= checkin.category_id
      %td= checkin.address
      %td= link_to 'Show', checkin
      %td= link_to 'Edit', edit_checkin_path(checkin)
      %td= link_to 'Destroy', checkin, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Checkin', new_checkin_path
