%p#notice= notice

%p
  %b Latitude:
  = @checkin.latitude
%p
  %b Longitude:
  = @checkin.longitude
%p
  %b Text:
  - @checkin.assets.each do |asset|
    = asset.words
    %p
      %b
      = image_tag asset.media.show_checkin

/ %p
/   %b User:
/   = @checkin.user_id
/ %p
/   %b Category:
/   = @checkin.category_id
/ %p
/   %b Address:
/   = @checkin.address

= link_to 'Edit', edit_checkin_path(@checkin)
\|
= link_to 'Back', checkins_path