%p#notice= notice

.show_checkin_container
  %p
    - @checkin.categories.each do |category|
      = category.name
    %b :
    = @checkin.title
    = link_to 'Edit', edit_checkin_path(@checkin)
  .assets_container
    .show_checkin_map
      = image_tag @checkin.generate_static_url
      %br
      - if @checkin.address != nil
        = @checkin.address
      - else
        ADDRESS GOES UNDERNEATH

    - @checkin.assets.each do |asset|
      .asset_div
        .asset_words
          = asset.words
        .asset_media
          - if asset.media.model.file_type === 'image'
            = image_tag asset.media, style:'height:50px;width:50px'
          - elsif asset.media.model.file_type === 'audio'
            = audio_tag asset.media.url
            = asset.media.url
          - elsif asset.media.model.file_type === 'video'
            = video_tag asset.media.url
            = asset.media.url
          - else
            yoda
    - if @checkin.people
      - @checkin.people.each do |person|
        = person.name
