.show_checkin_container{data: { id: @checkin.id } }
  .title_container
    - if @checkin.date
      .date_show
        = (@checkin.date.to_date).strftime('%d/%m/%Y')
    = @checkin.title
    .edit_delete_links
      = link_to image_tag('edit_icon.png', id: "edit_icon_show_page"), edit_checkin_path(@checkin)
      = link_to image_tag('x_icon_invert.png', id: 'delete_icon_show_page'), @checkin, method: :delete, data: { confirm: 'Are you sure?' }

  .show_checkin_map
    #map.show

  .assets_container
    .assets
      - @checkin.assets.each do |asset|
        - if asset.media.model.file_type === 'image'
          = image_tag asset.media.url, class: "image_show"
        - elsif asset.media.model.file_type === 'video'
          = video_tag asset.media.url, controls: true, class: "video_show"
      .words_div
        .words_inside
          = @checkin.description

  - @checkin.assets.each do |asset|
    - if asset.media.model.file_type === 'audio'
      .music_container
        = audio_tag asset.media.url, controls: true, class: "audio_show_controls"

  .people_category_container
    - if @checkin.people
      .show_checkin_people
        #form_field_label
          = link_to 'PEOPLE', people_path
        - @checkin.people.each do |person|
          = link_to person.name, people_path
    - if @checkin.categories
      .show_checkin_categories
        #form_field_label
          = link_to 'CATEGORIES', categories_path
        - @checkin.categories.each do |category|
          = link_to category.name, category_path(category)
