%p#notice= notice

%p
  = @checkin.category.name
%p
  - @checkin.assets.each do |asset|
    = asset.words
    %p
      - if asset.media.url != nil
        = image_tag asset.media.show_checkin



= link_to 'Edit', edit_checkin_path(@checkin)
/ # = link_to 'Back', checkins_path