%p#notice= notice

.show_checkin_container{data: { id: @checkin.id } }
  %p
    = @checkin.title
  .assets_container
    .show_checkin_map
      #map.show
      %br
      #address
        - if @checkin.address != nil
          = @checkin.address

    - @checkin.assets.each do |asset|
      .asset_div
        - if asset.media.model.file_type === 'image'
          = image_tag asset.media.show_checkin.url
        - elsif asset.media.model.file_type === 'audio'
          = image_tag "https://s3-eu-west-1.amazonaws.com/ehxe/defaults/default_map_icon.png", id: 'audio_default_image'
          = audio_tag asset.media.url, id:'audio_tag_show_page', controls: true
        - elsif asset.media.model.file_type === 'video'
          = image_tag asset.media.video_thumb.url
          = video_tag asset.media.url, style:'height:200px;width:175px', controls: true

        - else
          = asset.words

    - if @checkin.people
      .show_checkin_people_div
        %h3 People:
        - @checkin.people.each do |person|
          = person.name

    - if @checkin.categories
      .show_checkin_categories_div
        %h3 Categories:
        - @checkin.categories.each do |category|
          = category.name
  .show_controls
    = link_to 'Delete', @checkin, method: :delete, data: { confirm: 'Are you sure?' }
    = link_to 'Edit', edit_checkin_path(@checkin)
