.show_checkin_container{data: { id: @checkin.id } }
  .title_container
    = @checkin.title

  .show_checkin_map
    #map.show
    %br
    #address
      - if @checkin.address != nil
        = @checkin.address


  .assets_container
    .asset_div
      - @checkin.assets.each do |asset|
        - if asset.media.model.file_type === 'image'
          = image_tag asset.media.url, id: "image_show"
        - elsif asset.media.model.file_type === 'video'
          = video_tag asset.media.url, controls: true, id: "video_show"

    .words_div
      = @checkin.description

  - @checkin.assets.each do |asset|
    - if asset.media.model.file_type === 'audio'
      .music_container
        = audio_tag asset.media.url, controls: true, id: "audio_show_controls"

  .people_category_container
    - if @checkin.people
      .show_checkin_people
        #form_field_label PEOPLE
        - @checkin.people.each do |person|
          = person.name
    - if @checkin.categories
      .show_checkin_categories
        #form_field_label CATEGORIES
        - @checkin.categories.each do |category|
          = category.name

  .edit_delete_links
    = link_to image_tag('x_icon_invert.png', id: 'delete_icon_show_page'), @checkin, method: :delete, data: { confirm: 'Are you sure?' }
    = link_to image_tag('edit_icon.png', id: "edit_icon_show_page"), edit_checkin_path(@checkin)
