%p#notice= notice

.show_checkin_container
  %p
    = @checkin.category.name
    %b :
    = @checkin.title
    = link_to 'Edit', edit_checkin_path(@checkin)
  .assets_container
    .show_checkin_map
      = image_tag @checkin.generate_static_url
      %br
      - if @checkin.address != nil
        = @checkin.address
      - else
        ADDRESS GOES UNDERNEATH
    - @checkin.assets.each do |asset|
      .asset_div
        .asset_words
          = asset.words
        .asset_media
          - if asset.media.url != nil
            = image_tag asset.media.show_checkin
    - if @checkin.people
      - @checkin.people.each do |person|
        = person.name