%h1 NAVBAR
- if current_user
  %li
    = link_to 'Account', edit_user_path(current_user)
  %li
    = link_to 'Logout', session_path(session), method: :delete, data: {confirm: 'Are you sure?'}
  %li
    = link_to 'Dashboard', checkins_path
  %li
    = link_to 'New checkin', new_checkin_path
  %li
    = link_to 'Past Checkin', past_checkin_path
  %li
    = link_to 'Categories', categories_path

- else
  = link_to 'Sign up', new_user_path
  = link_to 'Login', sign_in_path