.title
  EHXE
- if current_user
  .nav_link
    = link_to 'Account', edit_user_path(current_user)
  .nav_link
    = link_to 'Logout', session_path(session), method: :delete, data: {confirm: 'Are you sure?'}
  .nav_link
    = link_to 'Dashboard', checkins_path
  .nav_link
    = link_to 'New checkin', new_checkin_path
  .nav_link
    = link_to 'Past Checkin', past_checkin_path
  .nav_link
    = link_to 'Categories', categories_path

- else
  .nav_link
    = link_to 'Sign up', new_user_path
  .nav_link
    = link_to 'Login', sign_in_path
