!!!
%html
  %head
    %title YourWorld
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}
    %link{rel:"stylesheet",href:"http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
    %script{src:"http://code.jquery.com/jquery-1.9.1.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE2']}&sensor=false", type: "text/javascript"}
    = csrf_meta_tags
    -# this meta_tag below makes the check-in map render on mobile without unwanted scaling
    %meta{:name =>"viewport", :content =>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %body{data: {page: [controller_name.capitalize, action_name.capitalize].join} }

    .container
      #navbar
        = render 'layouts/navbar'

      .content
        .top_bar
          = image_tag 'http://www.acceleratedtaxsolutions.com/sites/default/themes/ats/images/menu-icon.png', class: 'menu_icon'
          EXHE
        = yield


    = javascript_include_tag "application"
    %script{src:"http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
