!!!
%html
  %head
    %title YourWorld
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:type => "text/javascript", :src=>"/assets/canvasjs.min.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE2']}&sensor=false", type: "text/javascript"}
    %script{:type => "text/javascript", :src=>"/assets/gmaps.js"}

      = csrf_meta_tags
      -# this meta_tag below makes the check-in map render on mobile without unwanted scaling
      %meta{:name =>"viewport", :content =>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %body{data: {page: [controller_name.capitalize, action_name.capitalize].join}}

    .navbar
      = render 'layouts/navbar'

    .content
      = yield


    = javascript_include_tag "application"
