!!!
%html
  %head
    %title YourWorld
    = stylesheet_link_tag    "application", :media => "all"
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans", :rel => "stylesheet", :type => "text/css"}
    %link{rel:'stylesheet',href:'http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css'}
    %link{rel:"stylesheet",href:"http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"}
    %script{src:"http://code.jquery.com/jquery-1.9.1.js"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE2']}&sensor=false", type: "text/javascript"}
    = csrf_meta_tags
    -# this meta_tag below makes the check-in map render on mobile without unwanted scaling
    %meta{:name =>"viewport", :content =>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
  %body{data: {page: [controller_name.capitalize, action_name.capitalize].join} }

    .container
      -if current_user
        #navbar
          = render 'layouts/navbar'
        .top_bar
          = link_to image_tag('Ehxe_logo_name.png', id: 'logo_name'),  checkins_path
          = image_tag 'https://s3-eu-west-1.amazonaws.com/ehxe/defaults/navbar_icon.png', class: 'menu_icon'
        .content
      -else
        .content#home_page

      = yield


    = javascript_include_tag "application"
    %script{src:"http://code.jquery.com/ui/1.10.3/jquery-ui.js"}
